/**
 * World Job Network Map
 *
 * Omer Citak - www.omercitak.com - @Om3rCitak
 *
 */
 
#map{
	width:70%;
	float:left;
}

#results{
	position:relative;
	width:30%;
	height:100%;
	float:left;
	overflow-y: scroll;
}

#results h2{
	text-align: center;
    	position: sticky;
    	top: 0;
    	z-index: 9;
    	background: #2B3E50;
}

#results h4 {
    padding: 8px 10px;
    background: #384f65;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#credit{
	font-size:12px;
	text-align: center;
}

#list {
    padding: 3%;
    padding-top: 0;
}

#description{
	padding:3%;
}

.mtitle {
    font-weight: bold;
    border-bottom: 5px solid rgba(255, 255, 255, 0.20);
    padding: 20px 0;
}

#list > ul > li > a {
	color: #ffd300;
}
