/**
 * World Job Network Map
 *
 * Omer Citak - www.omercitak.com - @Om3rCitak
 *
 */
 
#map{
	width:70%;
	float:left;
}

#results{
	position:relative;
	width:30%;
	height:100%;
	float:left;
}

#results h2{
	text-align: center;
}

#results h4 {
    padding: 8px 10px;
    background: #384f65;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#credit{
	font-size:12px;
	position: absolute;
	bottom: 0;
	left:1%;
}

#list {
    padding: 3%;
    padding-top: 0;
}

#description{
	padding:3%;
}

.mtitle {
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    padding-bottom: 20px;
}
